{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dota_2</title>
    <link   rel="stylesheet" href="../../static/dota/../../static/dota/assets/css/style.css">
    <link   rel="stylesheet" href="../../static/dota/../../static/dota/assets/css/media/1100.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
    <link rel="stylesheet" href="../../static/dota/../../static/dota/assets/css/bootstrap.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@600&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


</head>
<body>


   <header class="header">

       <div class="container">

            <div class="header_inner">

                <div class="header_logo unselectable" >


                    <a href="index.html" ><img  class= "logotyp" src="../../static/dota/../../static/dota/assets/img/index/title/Логотип_DotA_2.jpg"></a>

                </div>
                <nav class="nav ">


                    <ul class="menu cf">
                        <li><a href="../../templates/dota/about/about.html">About</a> </li>
                        <li><a href="../../templates/dota/Gallery/gallery.html">Gallery</a> </li>
                        <li><a href="../../templates/dota/ourteam/our.html">Our Team</a></li>
                        <li><a href="../../templates/dota/login/login.html">Log in</a></li>

                    </ul>

                    <svg class="navHamburger" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 16H20V20H16V16ZM10 16H14V20H10V16ZM4 16H8V20H4V16ZM16 10H20V14H16V10ZM10 10H14V14H10V10ZM4 10H8V14H4V10ZM16 4H20V8H16V4ZM10 4H14V8H10V4ZM4 4H8V8H4V4Z" fill="white"/>
                    </svg>



                </nav>
            </div>

       </div>

   </header>


<div class="intro">
    <video class="video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" controls="controls">
        <source src="../../static/dota/../../static/dota/assets/video/Dota%202%20Gamescom%20Trailer.mp4" type="video/mp4" >
    </video>

</div>
    <div class="cont">
       <div class="container">
               <div class="oposition">
                   <div class="carousel unselectable">
                       <div class="carousel__face"><span>Abaddon</span></div>
                       <div class="carousel__face"><span>Alchemist</span></div>
                       <div class="carousel__face"><span>Ancient Apparition</span></div>
                       <div class="carousel__face"><span>Anti-Mage</span></div>
                       <div class="carousel__face"><span>Arc Warden</span></div>
                       <div class="carousel__face"><span>Axe</span></div>
                       <div class="carousel__face"><span>Bane</span></div>
                       <div class="carousel__face"><span>Batrider</span></div>
                       <div class="carousel__face"><span>Beastmaster</span></div>
                   </div>
               </div>
       </div>
    </div>


<section class="section unselectable">
    <div class="container">
        <div class="section_header">
            <h1 class="section_title">heroes</h1>
        </div>

        <div class="wrap">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="What are you looking for?">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>






    <div class="container_heroes">

            <div class="heroes_item">
                <div class="heroes_img">

                    <img src="../../static/dota/assets/img/index/heroes/Abaddon_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Abaddon
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Alchemist_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Alchemist
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Ancient_Apparition_Large.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Ancient_Apparition
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Anti-Mage_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Anti-Mage
                    </div>
                </div>
            </div>



<!--        -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->


            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Axe_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Axe
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Bane_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Bane
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Batrider_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Batrider
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Beastmaster_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Beastmaster
                    </div>
                </div>
            </div>


<!--        -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->



            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Bloodseeker_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Bloodseeker
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Bounty_Hunter_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Bounty Hunter
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Brewmaster_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Brewmaster
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Bristleback_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Bristleback
                    </div>
                </div>
            </div>



<!--        -&#45;&#45;&#45;&#45;-->


            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Broodmother_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Broodmother
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Centaur_Warrunner_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Centaur Warrunner
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Chaos_Knight_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Chaos Knight
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Chen_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Chen
                    </div>
                </div>
            </div>





<!--        ====-->



            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Clinkz_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Clinkz
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Clockwerk_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Clockwerk
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Crystal_Maiden_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Crystal Maiden
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Dark_Seer_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Dark Seer
                    </div>
                </div>
            </div>




<!--        ====-->


            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Dark_Willow_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Dark Willow
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Dawnbreaker_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Dawnbreaker
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Dazzle_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Dazzle
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Death_Prophet_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Death Prophet
                    </div>
                </div>
            </div>



<!--        =======-->


            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Disruptor_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Disruptor
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Doom_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Doom
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/download.jpeg">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Dragon Knight
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Drow_Ranger_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Drow Ranger
                    </div>
                </div>
            </div>







<!--        =====-->


            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Earth_Spirit_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Earth Spirit
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Earthshaker_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Earthshaker
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Elder_Titan_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Elder Titan
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Ember_Spirit_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Ember Spirit
                    </div>
                </div>
            </div>



<!--        =========-->


            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Enchantress_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Enchantress
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Enigma_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Enigma
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Faceless_Void_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Faceless Void
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Grimstroke_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Grimstroke
                    </div>
                </div>
            </div>



<!--        ====-->


            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Gyrocopter_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Gyrocopter
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Hoodwink_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Hoodwink
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Huskar_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Huskar
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Invoker.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Invoker
                    </div>
                </div>
            </div>




<!--        =====-->


            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Io_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Io
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Jakiro_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Jakiro
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Juggernaut_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Juggernaut
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Keeper_of_the_Light_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Keeper of the Light
                    </div>
                </div>
            </div>



<!--        =====-->


            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Kunkka_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Kunkka
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Legion_Commander_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Legion Commander
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Leshrac_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Leshrac
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Lich_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Lich
                    </div>
                </div>
            </div>



<!--        ======-->


            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Lifestealer_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Lifestealer
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Lina_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Lina
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Lion_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Lion
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Lone_Druid_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Lone Druid
                    </div>
                </div>
            </div>



<!--        =====-->



            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Luna_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Luna
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Lycan_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Lycan
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Magnus_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Magnus
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Mars_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Mars
                    </div>
                </div>
            </div>



<!--        =====-->

            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Medusa_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Medusa
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Meepo_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Meepo
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Mirana_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Mirana
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Monkey_King_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Monkey King
                    </div>
                </div>
            </div>




<!--        ====-->


            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Morphling_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Morphling
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Naga_Siren_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Naga Siren
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Nature%2527s_Prophet_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Nature Prophet
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Necrophos_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Necrophos
                    </div>
                </div>
            </div>



<!--        =====-->

            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Night_Stalker_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Night Stalker
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Nyx_Assassin_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Nyx Assassin
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Ogre_Magi_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Ogre Magi
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Omniknight_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Omniknight
                    </div>
                </div>
            </div>




        <!--        =====-->

            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Oracle_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Oracle
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Outworld_Destroyer_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Outworld Destroyer
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Pangolier_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Pangolier
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Phantom_Assassin_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Phantom Assassin
                    </div>
                </div>
            </div>





        <!--        =====-->

            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Phantom_Lancer_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Phantom Lancer
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Phoenix_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Phoenix
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Puck_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Puck
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Pudge_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Pudge
                    </div>
                </div>
            </div>




        <!--        =====-->

            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Pugna_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Pugna
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Queen_of_Pain_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Queen of Pain
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Razor_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Razor
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Riki_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Riki
                    </div>
                </div>
            </div>




        <!--        =====-->

            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Rubick_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Rubick
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Sand_King_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Sand King
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Shadow_Demon_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Shadow Demon
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Shadow_Fiend_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Shadow Fiend
                    </div>
                </div>
            </div>




        <!--        =====-->

            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Shadow_Shaman_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Shadow Shaman
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Silencer_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Silencer
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Skywrath_Mage_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Skywrath Mage
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Slardar_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Slardar
                    </div>
                </div>
            </div>




        <!--        =====-->

            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Slark_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Slark
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Snapfire_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Snapfire
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Sniper_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Sniper
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Spectre_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Spectre
                    </div>
                </div>
            </div>




        <!--        =====-->

            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Spirit_Breaker_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Spirit Breaker
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Storm_Spirit_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Storm Spirit
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Sven_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Sven
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Techies_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Techies
                    </div>
                </div>
            </div>




        <!--        =====-->

            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Templar_Assassin_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Templar Assassin
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Terrorblade_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Terrorblade
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Tidehunter_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Tidehunter
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Timbersaw_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Timbersaw
                    </div>
                </div>
            </div>




        <!--        =====-->

            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Tinker_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Tinker
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Tiny_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Tiny
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Treant_Protector_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Treant Protector
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Troll_Warlord_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Troll Warlord
                    </div>
                </div>
            </div>



        <!--        =====-->

            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Tusk_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Tusk
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Underlord_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Underlord
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/download%20(1).jpeg">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Undying
                    </div>
                </div>
            </div>

            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Ursa_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Ursa
                    </div>
                </div>
            </div>




        <!--        =====-->

            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Vengeful_Spirit_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Vengeful_Spirit
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Venomancer_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Venomancer
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Viper_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Viper
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Visage_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Visage
                    </div>
                </div>
            </div>



<!--        ============-->


            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Void_Spirit_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Void Spirit
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Warlock_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Warlock
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Weaver_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/lov.png">
                        Weaver
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Windranger_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Windranger
                    </div>
                </div>
            </div>




        <!--        ============-->


            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Winter_Wyvern_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Winter Wyvern
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Witch_Doctor_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Witch Doctor
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Wraith_King_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/power.png">
                        Wraith King
                    </div>
                </div>
            </div>
            <div class="heroes_item">
                <div class="heroes_img">
                    <img src="../../static/dota/assets/img/index/heroes/Zeus_icon.png">
                    <div class="heroes_text">
                        <img src="../../static/dota/assets/img/index/atributes/intelogents.png">
                        Zeus
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<div class="content">
    <div class="footer">
        <h5 class="privacy">Privacy police</h5>
        <h5 class="game">It is your game</h5>
    </div>
</div>
   <script src="../../static/dota/assets/js/nav.js"></script>


</body>
</html>