{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dota_2</title>
    <link   rel="stylesheet" href="../../static/dota/../../static/dota/assets/css/style.css">
    <link   rel="stylesheet" href="../../static/dota/../../static/dota/assets/css/media/1100.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
    <link rel="stylesheet" href="../../static/dota/../../static/dota/assets/css/bootstrap.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="icon" href="../../static/dota/assets/img/icon/dota-2-icon.png" type="image/x-icon">

</head>
<body>


   <header class="header">

       <div class="container">

            <div class="header_inner">

                <div class="header_logo unselectable" >


                    <a href="index.html" ><img  class= "logotyp" src="../../static/dota/../../static/dota/assets/img/index/title/Логотип_DotA_2.jpg"></a>

                </div>
                <nav class="nav ">


                    <ul class="menu cf">
                        <li><a href="../../templates/dota/about/about.html">Історія</a> </li>
                        <li><a href="../../templates/dota/Gallery/gallery.html">Дивовижні історії</a> </li>
                        <li><a href="../../templates/dota/ourteam/our.html">Команди</a></li>

                    </ul>

                    <svg class="navHamburger" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 16H20V20H16V16ZM10 16H14V20H10V16ZM4 16H8V20H4V16ZM16 10H20V14H16V10ZM10 10H14V14H10V10ZM4 10H8V14H4V10ZM16 4H20V8H16V4ZM10 4H14V8H10V4ZM4 4H8V8H4V4Z" fill="white"/>
                    </svg>



                </nav>
            </div>

       </div>

   </header>


<div class="intro">
    <video class="video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" controls="controls">
        <source src="../../static/dota/../../static/dota/assets/video/Dota%202%20Gamescom%20Trailer.mp4" type="video/mp4" >
    </video>

</div>




</body>
</html>