@media (max-width: 320px) {
    .header {
        width: 320px;

    }



    .nav_link {
        width: 100%;
        margin-left: 170px;
    }


    .intro video {
        width: 100%;
    }

    .heroes_item {
        margin: auto;
    }
    .footer{
        width: 100%;
    }
    .privacy{
        width: 100%;
    }
    .game{
        width: 100%;
    }
}


