body {
    margin: 0;

    background-color: black;
    color: white;
    font-family: 'STIX Two Text', serif;

    font-size: 15px;
    line-height: 1.6;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}
/*container*/
.container{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/*intro*/

.intro{
    width: 100%;
    height: 100vh ;

    background: url("../img/dota_2.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

/*header*/

.header{
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    font-size: 30px;
    font-weight: 700;
    color: white;

}

/*nav*/

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: white;
    text-decoration: none;

    transition: color .2s linear;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;


    background-color: yellow;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

}


.nav_link:hover {
    color: yellow;
}

.nav_link:hover:after {
    display: block;

}