<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "../../static/dota/css/style.css" %}">
    <link rel="stylesheet" href="{% static "../../static/dota/css/media/480.css" %}">
</head>
<body>


    <form>

            <div class="form unselectable" id="login">
                <h1 class="login">Registration</h1>

                <label ><b>Nic-name</b></label>
                <input type="text" placeholder="Enter Email" name="Nic-name" required>

                <label ><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>

                <label ><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit" class="btn btn-dark">Login</button>
            </div>

    </form>

</body>
</html>